In [2]:
import csv
import pandas as pd

## Append CSV files

In [3]:
files = ['data_analyst_ca.csv', 'data_scientist_ca.csv', 'data_engineer_ca.csv', 'python_developer_ca.csv']

In [4]:
df_csv_append = pd.DataFrame()
 
# append the CSV files
for file in files:
    df = pd.read_csv(file, header=None)
    df[file] = True
    df_csv_append = pd.concat([df_csv_append, df])
 
df_csv_append.head()

,0,data_analyst_ca.csv,data_scientist_ca.csv,data_engineer_ca.csv,python_developer_ca.csv
0,About the job\nWho are we?\n\nHome of world Ch...,True,NaN,NaN,NaN
1,About the job\nLocation: This position will be...,True,NaN,NaN,NaN
2,About the job\nOverview\n\nThe Quality Analyst...,True,NaN,NaN,NaN
3,About the job\nWho is Litens?\nWe are a divers...,True,NaN,NaN,NaN
4,About the job\nOur client is looking for a Dat...,True,NaN,NaN,NaN

In [5]:
len(df_csv_append)

495

In [6]:
df = df_csv_append.drop_duplicates()

In [7]:
total_jobs = len(df)

In [8]:
df.columns = ['Job Description', 'Data Analyst', 'Data Scientist', 'Data Engineer', 'Python Developer']
df['Job Description'] = df['Job Description'].str.lower()

/var/folders/sl/7qq7wrnn7ndd63j5w0cl_rx40000gn/T/ipykernel_67271/3265850622.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Job Description'] = df['Job Description'].str.lower()

In [9]:
#df['Certification Required?'] = df['Job Description'].str.contains('exam') 
df['Certification Required?'] = df['Job Description'].str.contains('exam') | df['Job Description'].str.contains('certif')

/var/folders/sl/7qq7wrnn7ndd63j5w0cl_rx40000gn/T/ipykernel_67271/3098344802.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Certification Required?'] = df['Job Description'].str.contains('exam') | df['Job Description'].str.contains('certif')

In [10]:
df = df.fillna(False).reset_index(drop=True)
df = df.drop(columns='Job Description')

In [11]:
df.to_csv('JobDescriptionDataset.csv', index=False)

In [58]:
df_certification_required

,Job Description,Data Analyst,Data Scientist,Data Engineer,Python Developer
1,about the job\nlocation: this position will be...,True,NaN,NaN,NaN
2,about the job\noverview\n\nthe quality analyst...,True,NaN,NaN,NaN
8,about the job\nposition: data analys...,True,NaN,NaN,NaN
78,about the job\nthe opportunity\n\nthe primary ...,True,NaN,NaN,NaN
104,about the job\njob title \n\ndata integration ...,True,NaN,NaN,NaN
106,about the job\ndata analyst co op \n\nas membe...,True,NaN,NaN,NaN
7,about the job\nstackadapt is a self-serve adve...,NaN,True,NaN,NaN
8,about the job\ndo you want to be part of a tea...,NaN,True,NaN,NaN
27,about the job\nwho we are\n\ngeotab ® is a glo...,NaN,True,NaN,NaN
50,about the job\nwe are seeking a highly skilled...,NaN,True,NaN,NaN
77,about the job\nnotre rémunération globale attr...,NaN,True,NaN,NaN
80,about the job\nrequisition id: 87997\n\njob ca...,NaN,True,NaN,NaN
100,about the job\nposition: data analys...,NaN,True,NaN,NaN
120,about the job\ndata analyst (contract position...,NaN,True,NaN,NaN
1,about the job\nthe role\n we are looking for a...,NaN,NaN,True,NaN
2,about the job\nabout felix\n\nfelix payment sy...,NaN,NaN,True,NaN
3,about the job\nreference no. r2700506\n\nposit...,NaN,NaN,True,NaN
5,about the job\nwe’re now at the boldest phase ...,NaN,NaN,True,NaN
8,"about the job\nresponsibilities\n• prepares, s...",NaN,NaN,True,NaN
32,about the job\narcadis gen - remote position w...,NaN,NaN,True,NaN
50,about the job\njob#: 1357063\n\njob descriptio...,NaN,NaN,True,NaN
51,about the job\nquestrade financial group (qfg)...,NaN,NaN,True,NaN
56,about the job\nabout ltimindtree\nltimindtree ...,NaN,NaN,True,NaN
77,"about the job\ntoronto, on / montreal, qc (hyb...",NaN,NaN,True,NaN
79,about the job\nhope you are doing great!!\n\ni...,NaN,NaN,True,NaN
80,about the job\nwho we are\n\ngeotab ® is a glo...,NaN,NaN,True,NaN
81,about the job\nthe expert behind our data anal...,NaN,NaN,True,NaN
101,about the job\nwe are seeking a highly skilled...,NaN,NaN,True,NaN
3,about the job\nabout the job:\n we are seeking...,NaN,NaN,NaN,True
4,about the job\nsystem support analyst - databa...,NaN,NaN,NaN,True
6,about the job\nyork is a leading international...,NaN,NaN,NaN,True
22,about the job\nrecruitment specialist\nwoodwar...,NaN,NaN,NaN,True
49,about the job\nmacogep est une firme de gestio...,NaN,NaN,NaN,True
72,about the job\njob description \n min. bachel...,NaN,NaN,NaN,True
75,"about the job\nedmonton, ab \n\nare you lookin...",NaN,NaN,NaN,True
97,about the job\nobjective\nthe objective of thi...,NaN,NaN,NaN,True
100,about the job\nour product team is made up of ...,NaN,NaN,NaN,True
105,about the job\njob description:\n\nworks with ...,NaN,NaN,NaN,True

In [60]:
df_certification_required = df_certification_required.fillna(False).reset_index(drop=True)

In [61]:
df_certification_required

,Job Description,Data Analyst,Data Scientist,Data Engineer,Python Developer
0,about the job\nlocation: this position will be...,True,False,False,False
1,about the job\noverview\n\nthe quality analyst...,True,False,False,False
2,about the job\nposition: data analys...,True,False,False,False
3,about the job\nthe opportunity\n\nthe primary ...,True,False,False,False
4,about the job\njob title \n\ndata integration ...,True,False,False,False
5,about the job\ndata analyst co op \n\nas membe...,True,False,False,False
6,about the job\nstackadapt is a self-serve adve...,False,True,False,False
7,about the job\ndo you want to be part of a tea...,False,True,False,False
8,about the job\nwho we are\n\ngeotab ® is a glo...,False,True,False,False
9,about the job\nwe are seeking a highly skilled...,False,True,False,False
10,about the job\nnotre rémunération globale attr...,False,True,False,False
11,about the job\nrequisition id: 87997\n\njob ca...,False,True,False,False
12,about the job\nposition: data analys...,False,True,False,False
13,about the job\ndata analyst (contract position...,False,True,False,False
14,about the job\nthe role\n we are looking for a...,False,False,True,False
15,about the job\nabout felix\n\nfelix payment sy...,False,False,True,False
16,about the job\nreference no. r2700506\n\nposit...,False,False,True,False
17,about the job\nwe’re now at the boldest phase ...,False,False,True,False
18,"about the job\nresponsibilities\n• prepares, s...",False,False,True,False
19,about the job\narcadis gen - remote position w...,False,False,True,False
20,about the job\njob#: 1357063\n\njob descriptio...,False,False,True,False
21,about the job\nquestrade financial group (qfg)...,False,False,True,False
22,about the job\nabout ltimindtree\nltimindtree ...,False,False,True,False
23,"about the job\ntoronto, on / montreal, qc (hyb...",False,False,True,False
24,about the job\nhope you are doing great!!\n\ni...,False,False,True,False
25,about the job\nwho we are\n\ngeotab ® is a glo...,False,False,True,False
26,about the job\nthe expert behind our data anal...,False,False,True,False
27,about the job\nwe are seeking a highly skilled...,False,False,True,False
28,about the job\nabout the job:\n we are seeking...,False,False,False,True
29,about the job\nsystem support analyst - databa...,False,False,False,True
30,about the job\nyork is a leading international...,False,False,False,True
31,about the job\nrecruitment specialist\nwoodwar...,False,False,False,True
32,about the job\nmacogep est une firme de gestio...,False,False,False,True
33,about the job\njob description \n min. bachel...,False,False,False,True
34,"about the job\nedmonton, ab \n\nare you lookin...",False,False,False,True
35,about the job\nobjective\nthe objective of thi...,False,False,False,True
36,about the job\nour product team is made up of ...,False,False,False,True
37,about the job\njob description:\n\nworks with ...,False,False,False,True

In [63]:
jobs_with_certification = len(df_certification_required)
da_jobs = len(df_certification_required.loc[df_certification_required['Data Analyst'] == True])
ds_jobs = len(df_certification_required.loc[df_certification_required['Data Scientist'] == True])
de_jobs = len(df_certification_required.loc[df_certification_required['Data Engineer'] == True])
pd_jobs = len(df_certification_required.loc[df_certification_required['Python Developer'] == True])

In [64]:
da_jobs/jobs_with_certification*100

15.789473684210526

In [65]:
ds_jobs/jobs_with_certification*100

21.052631578947366

In [66]:
de_jobs/jobs_with_certification*100

36.84210526315789

In [67]:
pd_jobs/jobs_with_certification*100

26.31578947368421

Jobs that require certification vs total jobs

In [68]:
jobs_with_certification/total_jobs*100

22.35294117647059

In [69]:
da_jobs/len(df.loc[df['Data Analyst'] == True])*100

15.789473684210526

In [71]:
ds_jobs/len(df.loc[df['Data Scientist'] == True])*100

16.666666666666664

In [72]:
de_jobs/len(df.loc[df['Data Engineer'] == True])*100

34.146341463414636

In [73]:
pd_jobs/len(df.loc[df['Python Developer'] == True])*100

23.25581395348837